
html, body {
	margin: 0;
	padding: 0;
}

html {
    overflow: hidden;
}

body { 
  background: url(../img/green_rock.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 100%; /* 16px */
}

.container {
    margin: 0 auto;
    width: 90%; /* 960px */
}

@font-face {
    font-family: 'Sunday';
    src: url('fonts/sunday.ttf'), 
}

@font-face {
    font-family: 'Ham-and-Eggs';
    src: url('fonts/Ham and Eggs by Intestino Grueso.ttf'), 
}

@font-face {
    font-family: 'TeX Gyre Adventor Regular';
    src: url('fonts/texgyreadventor-regular.otf'), 
}


/*==================================
=       Navigation Styles          =
==================================*/

.off-canvas-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%; /* 211.2px */
    z-index: 2;
    background: rgba(0, 0, 0, 0.9); /* 53, 57, 57, 1.0 */ 
    transform: translateX(100%);
    transition: transform 0.7s ease;
    padding-top: 6%;
}

.off-canvas-menu.open {
    transform: translateX(0);
    z-index: 2;
}

.menu-button {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 2000;
    border: 1px solid rgba(255,255,255,0.2);
}

.menu-button-bar {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 24px;
    height: 1px;
    margin-left: -12px;
    margin-top: -1px;
    background-color: white;
}

.menu-bar1 {
    top: 13px;
}
.menu-bar2 {
    top: 20px;
}
.menu-bar3 {
    top: 27px;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  transition: all 500ms ease-in-out;
}
.menu-bar.active {
  background-color: transparent;
}
.menu-bar1.active, .menu-bar3.active {
  top: 20px;
}
.menu-bar1.active {
  transform: rotate(45deg);
}
.menu-bar2.active {
  display: none;
}
.menu-bar3.active  {
  transform: rotate(-45deg);
}

.off-canvas-nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.off-canvas-nav ul li {
    text-transform: uppercase;
    margin: 10px 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1em; /* 20px / 16px */
    font-weight: 100;
}

a {
    color: #fff;
    text-decoration: none;
}

a:active {}

a:hover {}

.project-btn {
    padding-top: 0.5769230769230769em;
}

.project-btn a {
    border: 1px solid #fff;
    margin-top: 30px;
    padding: 0.3846153846153846em 2.333333333333333%; /* 20px / 240px */
    text-transform: capitalize;
}

.social-media { 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social-media p {
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em; /* 12px / 16px */ 
    margin: 10px 15px 25px;
}

.social-media hr {
    width: 20%;
    height: 1px;
    border: none;
    background-color: rgba(255,255,255,0.2);
}

.social-icon {
    margin: 0.925em 2.166666666666667%; 
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.3);
}

#branding {
    width: 93.75%;
    margin: 385px auto 0;
    text-align: center;   
}

#branding img {
  display: block;
  position: fixed;
  top: 210px;
  left: 49.55%;
  width: 5.5%;
  height: auto;
  margin: 0 0 0 -44px;
  z-index: 1;
}

#branding p {
    font: normal 200 38px/1 'Syncopate';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 45px;
}

#branding hr {
    width: 15%;
    height: 5px;
    border: none;
    background-color: rgba(255,255,255,0.3);
    padding: 0;
    margin-bottom: 0;
}

.main-content {
    position: relative;
    top: 50px; right 0; bottom: 0; left 0;
}

.main-content h1 {
    font-family: 'Oswald Regular', Arial, sans-serif;
    font-size: 11em; /* 152px / 16px */ 
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    line-height: 142pt;
    margin: 10px auto;
    padding: 0;
    visibility: hidden;
}
 
.main-content h2 {
    font-family: '', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin: 27px auto;
    padding: 0;
    visibility: hidden;
}

.main-content hr {
    width: 56%;
    visibility: hidden;
}

.main-content img {
    position: absolute;
    top: 0;
    left: 27.25%;
    width: 45%;
}

#branding-caption {
    width: 45%;
    margin: 0 auto;
}

#branding-caption p {
   color: #fff;
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.get-started {
    border: 1px solid #fff;
    /*background: #262626;*/
    padding: 15px 35px;
    color: #fff;
    margin: 50px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    left: 45.5%;
    top: 90%;
}

/*==================================
=        Page Border Styles        =
==================================*/

#top, #bottom, #left, #right {
	background: #fff;
	position: fixed;
    z-index: 999;
}

#left, #right {
   top: 0; 
   bottom: 0;
   width: 15px;
}

#left { 
    left: 0; 
}

#right { 
    right: 0; 
}
		
#top, #bottom {
    left: 0; right: 0;
    height: 15px;
}
		
#top { 
    top: 0;
}
		
#bottom { 
    bottom: 0; 
}


/*==================================
=         Animation Styles         =
==================================*/

.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

/*==================================
=          Media Queries           =
==================================*/

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1024px) {
    .off-canvas-nav ul li {
        font-size: 1.25em; /* 20px / 16px */
    }
    
    .project-btn {
        padding: 0.5769230769230769em 8.333333333333333%;
    }

    
    .project-btn a {
        border: 1px solid #fff;
        margin-top: 30px;
        padding: 0.3846153846153846em 8.95%; /* 18px / 240px */
        font-size: smaller;
        text-transform: capitalize;
    }
}

@media only screen and (max-width : 768px) {
   .off-canvas-menu {
        width: 100%;
        height: 37.5%;
        background: rgba(0, 0, 0, 0.9);
        transform: translateY(-135%);
        padding-top: 9%;
    }
    .off-canvas-menu.open {
        transform: translateY(0);
    }
    
    .off-canvas-nav ul li {
        font-size: 2em; /* 32px / 16px */
    }
    
    .project-btn a {
        border: 1px solid #fff;
        margin-top: 30px;
        padding: 0.3846153846153846em 2.604166666666667%; /* 20px / 240px */
        text-transform: capitalize;
    }
    
    #branding img {
        top: -750px;
        width: 15%;
    }
    
    #branding p {
        margin-top: 235px;
        font-size: 22px;
    }
}

@media only screen and (max-width : 568px) {
    .off-canvas-menu {
        width: 100%;
        height: 100%;
        transform: translateY(-200%);
        padding-top: 35%;
    }

    .off-canvas-menu.open {
        transform: translateY(0);
    }
    
    #branding img {
        top: -300px;
        width: 25%;
    }
    
    #branding p {
        margin-top: 200px;
        font-size: 22px;
    }
    
    .off-canvas-nav ul li {
        font-size: 2.25em; /* 32px / 16px */
    }
}

@media only screen and (max-width : 320px) {
    .off-canvas-nav ul li {
        font-size: 1.125em; /* 18px / 16px */
    }
}

/* @media only screen and (max-width : 320px), 
    only screen and (max-width : 480px), 
    only screen and (max-width : 767px),
    only screen and (max-width : 979px),
    only screen and (max-width : 1024px)
{
    #top, #bottom, #left, #right { display: none; }
}
*/
